.full-radial-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* behind everything */
  background: radial-gradient(circle at top left, #aafff8, #97c0fc, #b89aff);
  background-size: 200% 200%;
  animation: radialMove 8s ease-in-out infinite;
}

@keyframes radialMove {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.btn-grad {background-image: linear-gradient(to right, #2362f6 0%, #b418f2  51%, #2362f6  100%)}
.btn-grad {
    margin: 20px;
    margin-top: 50px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    transform: scale(1);
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
    }



         .btn-grad-login {background-image: linear-gradient(to right, #5f2c82 0%, #49a09d  51%, #5f2c82  100%)}
         .btn-grad-login {
            margin: 5px;
            padding: 10px 25px;
            text-align: center;
            text-transform: sentence-case;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 30px;
            display: block;
          }

          .btn-grad-login:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
          
         .btn-grad-logout {background-image: linear-gradient(to right, #7e37f7 0%, #512DA8  51%, #7e37f7  100%)}
         .btn-grad-logout {
            margin: 5px;
            padding: 10px 25px;
            text-align: center;
            text-transform: sentence-case;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 30px;
            display: block;
          }

          .btn-grad-logout:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         



.btn-grad-quiz {background-image: linear-gradient(to right, #345ee6 0%, #ee3e96  51%, #345ee6  100%)}
.btn-grad-quiz {
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: sentence-case ;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
}

.btn-grad-quiz:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.btn-grad-quizes {background-image: linear-gradient(to right, #e67e34 0%, #ee3e96  51%, #e67e34  100%)}
.btn-grad-quizes {
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: sentence-case ;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
}

.btn-grad-quizes:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}