@import "tailwindcss";



html {
  scroll-behavior: smooth;
}
.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-notosans {
  font-family: 'Noto Sans', sans-serif;
}

.loader {
  width: 80px;
  height: 20px;
  color: #514b82;
  background:
    radial-gradient(farthest-side,currentColor 98%,#0000) left  /20px 20px,
    radial-gradient(farthest-side,currentColor 98%,#0000) right /20px 20px,
    radial-gradient(farthest-side,#000 98%,#0000) center/5px 5px,
    linear-gradient(currentColor 0 0) center/100% 2px;
  background-repeat: no-repeat;
  animation: l9 1s cubic-bezier(.5,-150,.5,150) infinite;
}
@keyframes l9 { 
    100% { transform:rotate(1deg)} 
}

.react-calendar-heatmap text {
  font-size: 6px;
  fill: #555;
}

.react-calendar-heatmap rect {
  stroke: #fff;
  stroke-width: 1px;
}

.color-scale-0 {
  fill: #ebedf0; /* light gray — empty */
}
.color-scale-1 {
  fill: #c6e48b; /* light green */
}
.color-scale-2 {
  fill: #7bc96f; /* medium green */
}
.color-scale-3 {
  fill: #239a3b; /* dark green */
}
